<main id="loginpage">
    <h1>Signup or Create an Account</h1>
    <form method="POST">
        <input type="text" placeholder="Enter email" name="emailAddress" />
        <input type="text" placeholder="Enter password" name="password" />
        <button formaction="/create">Create account</button>
        <button formaction="/login">Login</button>
    </form>
</main>